.UserPanel {
    display: flex;
    padding: 4px;
    align-items: start;
    max-width: 100px;
}
.user-button {
    margin: 0 .5rem;
}
.user-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 1;
}
.user-menu ul {
    width: 200px;
    padding-left: 0px;
    overflow: visible;
    right: 90%;
    position: relative;
    
}

.user-menu li {
    margin: 5px;
    text-align: center;
}